{%extends "layout.html" %}
{%block link%}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
{%endblock link%}
{%block content %}
<p class="well"></p>
<div class="well">
		<h1>Analyze</h1>
</div>
<div class="container">
	<canvas id="myChart"></canvas>
 </div>
{%endblock content %}

{%block script%}
<script>
var data = {{data}};
var labels = {{labels|safe}};
var ctx = document.getElementById('myChart').getContext('2d');
var options = {
    cutoutPercentage : 60,
    responsive : true,
    legend : {
        position: 'right'
    },
    animation : {
        animateScale : true,
        easing: 'easeOutBounce',
        duration: 2000
    }
};
var color = ['#4D4D4D','#5DA5DA','#FAA43A','#60BD68','#F17CB0','#B2912F','#B276B2','#DECF3F']
data = {
        labels: labels,
        datasets: [{
            label: 'My First dataset',
            backgroundColor: color,
            borderColor: 'rgb(255, 255, 255)',
            data: data
            
        }]
    }

var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'pie',

    // The data for our dataset
    data: data,

    // Configuration options go here
    options: options
});
</script>
{%endblock script%}