{%extends "layout.html" %}
{%block link%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='generate.css') }}">
{%endblock%}
{%block nav_config%}
    <nav class="navbar navbar-default">
{%endblock%}
{%block nav%}
  <li><a href="/login"><span class="glyphicon glyphicon-log-out "></span>LOGOUT</a>
{%endblock nav%}

{%block content %}
<div class="signup_container">
    <form action="/signup"  method = "post">
        <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" class="form-control" name="fname" id="fname" equired>
        </div>
        <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" class="form-control" name="lname" id="lname" required>
        </div>
        <div class="form-group">
            <label for="emailLable">Email address</label>
            <input type="text" class="form-control" id="emailLable" name="email" required>
        </div>
        <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass" name="password" required>
        </div>
		<input id="submit_sp" type="submit" name="Submit" value="Sign-Up" >
    <div class="g-recaptcha" data-sitekey="6LefQDYUAAAAALx7TGZcwmSqMeXkslfxf4YK2dbe"></div>  
	</form>
</div>


{%endblock content %}