<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Loan-Predcitor</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        {%block link%}
        {%endblock link%}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </head>
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand fas fa-chart-bar" href="#myPage">LP</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                    <li><a class="fa fa-users"  href="#about">ABOUT</a></li>
                    <li><a class="fas fa-tasks" href="#services">SERVICES</a></li>
                    <li><a class="fas fa-phone-square" href="#contact">CONTACT</a></li>
                    <li><a class="fas fa-comment-alt" href="#feedback">FEEDBACK</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-out "></span>LOGOUT</a>
                    </ul>
                </div>
            </div>
        </nav>

        {%block content%}
        {%endblock content%}


        <footer class="container-fluid text-center">
            <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
            <p> Theme Made By <a title="Anisha Samson Gopesh">Anisha Samson Gopesh</a></p>
        </footer>

        {%block script%}
        {%endblock script%}


    </body>
</html>
