<!DOCTYPE html>
<html>
<head>
	<title>Loan-Predicitor Login</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	
	<!--Validate the password and confirm password Javascript-->
	<script> 
		function checkPassword(form) { 
				password1 = form.password.value; 
				password2 = form.confirm_password.value; 
							
				// If Not same return False.     
				if (password1 != password2) { 
						alert ("\nPassword did not match: Please try again...") 
						return false; 
				} 

				// If same return True. 
				else{ 
						alert("Sucessfully signed up!: Welcome to Loan-Predictor!") 
						return true; 
				} 
		} 
</script>


</head>

<body>

		<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

				<nav class="navbar navbar-default navbar-fixed-top">
				  <div class="container">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					  </button>
					  <img src="{{url_for('static', filename='logo.png')}}"  height="150" width="150"/>
							<span>Loan-Predictor</span>
					</div>
					<div class="collapse navbar-collapse" id="myNavbar">
					  <ul class="nav navbar-nav navbar-right">
							<div class="login-container">
									<form action="/home">
									  <input type="email" placeholder="Email" name="email" required>
									  <input   type="password" placeholder="Password" name="pswd" minlength="8" required>
									  <button id="btn" type="submit">Login</button>
									</form>
								  </div>
						
					  </ul>
					</div>
				  </div>
				</nav>


				<form method="POST" onSubmit = "return checkPassword(this)"  style="border:1px solid #ccc">
				<div class="container">
					<br>
					<br>
					<br>
					<br>
					
					<br>
					<br>
					<br>
					<br>

					<h2>Sign Up</h2>
					<label for="email"><b>Email</b></label>
					<input type="email" placeholder="Enter Email" name="email" required>

					<label for="psw"><b>Password</b></label>
					<input type="password" id="password" placeholder="Enter Password" name="psw" minlength="8"  required>

					<label for="psw-repeat"><b>Repeat Password</b></label>
					<input type="password" id="confirm_password" placeholder="Repeat Password" name="psw_repeat" minlength="8"  required>
					
					
					<p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

					<div class="clearfix">
					<button type="button" class="cancelbtn">Cancel</button>
					<button type="submit" class="signupbtn" >Sign Up</button>
					</div>
				</div>
				</form>

			

</body>
</html>