{%extends "layout.html" %}
{%block link%}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
{%endblock link%}
{%block nav_config%}
    <nav class="navbar navbar-default">
{%endblock%}
{%block nav%}
  <li><a href="/login"><span class="glyphicon glyphicon-log-out "></span>LOGOUT</a>

{%endblock nav%}
{%block content %}
<p class="well"></p>
<div class="well">
	<form action="/view" method="POST">
		<input type="text" name="cid" placeholder="Customer ID "><br>
		<input type="submit" value="Submit">
	</form>
</div>
<div class="container">
	<table class="table">

		{%if data %}
			{%for key, val in data.items()%}
				<tr>
					<td>{{ key }}</td>
					<td>{{ val }}</td>
				</tr>
			{% endfor %}
		{%endif%}
	</table>
	  
</div>
{%endblock content %}